<launch>

    <include file="$(find realsense2_camera)/launch/rs_camera.launch">

        <arg name="align_depth" value="true"/>
        <arg name="unite_imu_method" value="linear_interpolation"/>
        <arg name="enable_gyro" value="true"/>
        <arg name="enable_accel" value="true"/>
        <arg name="filters" value="pointcloud"/>

    </include>

    <node pkg="imu_filter_madgwick" type="imu_filter_node" name="imu_filter_node">

        <param name="use_mag" value="false"/>
        <param name="publish_tf" value="false"/>
        <param name="world_frame" value="enu"/>
        <remap from="/imu/data_raw" to="/camera/imu"/>
        <remap from="/imu/data" to="/rtabmap/imu"/>

    </node>

    <node pkg="nodelet" type="nodelet" name="points_xyz" args="standalone rtabmap_ros/point_cloud_xyz">
        
        <param name="approx_sync" type="bool"   value="false"/>
        <remap from="depth/image"       to="/camera/depth/image_rect_raw"/>
        <remap from="depth/camera_info" to="/camera/depth/camera_info"/>
        <param name="decimation"  type="double" value="4"/>

    </node>

    <include file="$(find rtabmap_ros)/launch/rtabmap.launch">
    
        <arg name="args" value="delete_db_on_start Icp/VoxelSize 0.05 Icp/PointToPlaneRadius 0 Icp/PointToPlaneK 20 Icp/CorrespondenceRatio 0.2 Icp/PMOutlierRatio 0.65 Icp/Epsilon 0.005 Icp/PointToPlaneMinComplexity 0 Odom/ScanKeyFrameThr 0.7 OdomF2M/ScanMaxSize 15000 Optimizer/GravitySigma 0.3 RGBD/ProximityPathMaxNeighbors 1 Reg/Strategy 1 Grid/FromDepth true Grid/CellSize 0.005 Grid/3D true Grid/RayTracing true GridGlobal/ProbHit 0.8 GridGlobal/ProbMiss 0.2"/>
        <arg name="icp_odometry" value="true"/>
        <arg name="scan_cloud_topic" value="/cloud"/> 
        <arg name="subscribe_scan_cloud" value="true"/>
        <arg name="depth_topic" value="/camera/aligned_depth_to_color/image_raw"/>
        <arg name="rgb_topic" value="/camera/color/image_raw"/>
        <arg name="camera_info_topic" value="/camera/color/camera_info"/>
        <arg name="approx_sync" value="false"/>
        <arg name="wait_imu_to_init" value="true"/>
        <arg name="imu_topic" value="/rtabmap/imu"/>

    </include>

    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find map_registration)/rviz/octomap.rviz"/>

</launch>